<meta http-equiv="Refresh" Content="5">

<% provide(:title, 'overview') %>
<h1>overview</h1>
<h2> total <% @overall[:total] %> </h2>
<h2> occupied <% @overall[:occupied] %> </h2>
<h2> out_of_service <% @overall[:out_of_service] %> </h2>
<ul class="bays">
  <% @overall[:bays].each do |bay| %>
  <li>
    <td><%= bay[:id] %></td>
    <td><%= bay[:occupied] %></td>
    <td><%= bay[:out_of_service] %></td>
  </li>
  <% end %>
</ul>

<ul class="bays">
  <% @overall[:full_events].each do |event| %>
      <li>
        <td><%= event[:id] %></td>
        <td><%= event[:bay_id] %></td>
        <td><%= event[:entry_timestamp] %></td>
        <td><%= event[:dwell] %></td>
      </li>
  <% end %>
</ul>

